footer
  .container.text-center
    p.pull-left © 2017 james-woo/Spenca 
    ul.pull-right.list-inline
      li
        a(href='https://github.com/Spenca/memechain') GitHub Project
      li
        a(href='https://github.com/Spenca/memechain/issues') Issues
