extends layout

block content
  h1 create
  br
  
  form
  .form-group
    label(for='title') Title
    input#title.form-control(type='text', aria-describedby='titleHelp', placeholder='Enter title', required)
    small#titleHelp.form-text.text-muted describe your awesome meme.
  .form-group
    label(for='image') Image
    input#image.form-control(type='text', aria-describedby='imageHelp', placeholder='Enter image url', required)
    small#imageHelp.form-text.text-muted give us a link to your meme.
  button.btn.btn-primary(type='submit') Submit
