extends layout

block content
  h1 memechain
  table
    tbody
      each m in memes
        tr
          p test3
          .card(style='width: 20rem;')
            .card-block
              h4.card-title= m.data.title
              img(src=m.data.image_url, alt=m.data.title)
